############### 客户端配置 ###############
[client]
port   = 33456
socket = /software/Mysql/Debug8036/mysql8036Debug/mysql.sock

############### 服务端配置 ###############
[mysqld]
user=wxj
port = 33456
autocommit     = ON
character-set-server   = utf8mb4
basedir        = /software/Mysql/Debug8036/mysql-8.0.36
datadir        = /software/Mysql/Debug8036/mysql8036Debug/data
tmpdir         = /software/Mysql/Debug8036/mysql8036Debug/tmp
socket         = /software/Mysql/Debug8036/mysql8036Debug/mysql.sock
pid-file       = /software/Mysql/Debug8036/mysql8036Debug/mysql.pid
plugin_dir     = /software/Mysql/Debug8036/mysql8036Debug/plugin
log-error      = /software/Mysql/Debug8036/mysql8036Debug/mysql_error.log
log_timestamps = system
symbolic-links=0
server-id               =  22923523
log_bin                 =  /software/mysql5.7/log/mysql-bin.log
expire_logs_days        =  10
max_binlog_size         =  100M
#replicate-do-db         =  tmp_db
#replicate-ignore-db     =  mysql
#replicate-ignore-db     =  information_schema
#replicate-ignore-db     =  performance_schema
#GTID
gtid_mode=on
enforce_gtid_consistency=on
binlog_format=row
log-slave-updates=1
#mysql8.0在初始化前配上强制小写，否则后续配上会报错
#lower_case_table_names = 1

################## mysql #################
[mysql]
#关闭自动补全sql命令功能 可选
no-auto-rehash
#设置prompt提示符
prompt (\u@\h) [\d] \R:\m:\s>\_
host = 127.0.0.1
user = root
password = ""
## 命令行 -A
auto-rehash = false
## 命令行 -c
comments = true
